{%- comment -%}
  Preis-Ausgabe. Akzeptiert ein product- oder variant-Objekt.
  Zeigt Vergleichspreis (durchgestrichen) bei reduzierten Artikeln.
{%- endcomment -%}

{%- liquid
  if variant
    assign target = variant
  else
    assign target = product
  endif

  assign on_sale = false
  if target.compare_at_price > target.price
    assign on_sale = true
  endif
-%}

<span class="price{% if on_sale %} price--on-sale{% endif %}">
  {%- if on_sale -%}
    <span class="price__compare">{{ target.compare_at_price | money }}</span>
    <span class="price__sale">{{ target.price | money }}</span>
  {%- else -%}
    {%- if target.price_varies -%}{{ 'products.product.from_price' | t }} {% endif -%}
    {{ target.price | money }}
  {%- endif -%}
</span>
