<section class="section">
  <div class="page-width page-width--narrow">
    <div class="page-header">
      <h1 class="h1">{{ page.title }}</h1>
    </div>
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Seite",
  "tag": "section",
  "settings": []
}
{% endschema %}
